<tr>
  <td><%= customer.name %></td>
  <td><%= customer.phone %></td>
  <td>
    <%= link_to customer_detail_path(id: customer.id),method: :get, class:'btn btn-outline-success float-right btnUp' do %>
      <i class="fas fa-circle-info"></i>
    <% end %>
  </td></tr>