<tr>
  <td><%= product.name %></td>
  <td><%= product.price.to_s.gsub(/\d(?=(?:\d{3})+(?!\d))/, '.') %></td>
  <td><%= product.volume %></td>
  <td>
    <%= link_to product_detail_path(id: product.id),method: :get, class:'btn btn-outline-success float-right btnUp' do %>
      <i class="fas fa-circle-info"></i>
  <% end %>

  </td>
      </tr>