<tr>
  <td><%= product.name %></td>
  <td><%= product.price %></td>
  <td><%= product.volume %></td>
  <td><button class="btn btn-outline-success float-right btnUp" id="prod-<%= product.id %>" data-toggle="modal" data-target="#modal-md2"><i class="fas fa-circle-info"></i></button>
  </td></tr>