<tr>
  <td><%= ref.name %></td>
  <td><%= ref.phone %></td>
  <td><button class="btn btn-outline-success float-right btnUp" id="ref-<%= ref.id %>" data-toggle="modal" data-target="#modal-xl"><i class="fas fa-circle-info"></i></button>
  </td></tr>